@model ZinOS.Data.Entities.ZinOSApp

@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Application</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    @{
        //Load Caja runtime (JS files)    
    }
    <style type="text/css">
        body
        {
            font-size:12px;
            color:Gray;
            font-family:Arial,Verdana;
        }
    </style>
    <link href="@Url.Content("~/Content/Shared/jQueryUI/smoothness/jquery-ui-1.8.11.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.innocent.js")" type="text/ecmascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui-1.8.24-innocent/jquery.ui.core.innocent.js")" type="text/ecmascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui-1.8.24-innocent/jquery.ui.widget.innocent.js")" type="text/ecmascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui-1.8.24-innocent/jquery.ui.mouse.innocent.js")" type="text/ecmascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui-1.8.24-innocent/jquery.ui.position.innocent.js")" type="text/ecmascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui-1.8.24-innocent/jquery.ui.resizable.innocent.js")" type="text/ecmascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui-1.8.24-innocent/jquery.ui.draggable.innocent.js")" type="text/ecmascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui-1.8.24-innocent/jquery.ui.tabs.innocent.js")" type="text/ecmascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui-1.8.24-innocent/jquery.ui.dialog.innocent.js")" type="text/ecmascript"></script>
    <script src="@Url.Content("~/Content/Shared/ZinOS/zinos.core.js")" type="text/javascript"></script>
     
    <script src="@Url.Content("~/Content/Desktop/Main/Script/caja/caja.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Desktop/ZinOSApp/js/zinos-app.api.js")" type="text/javascript"></script>
</head>
<body>
    <div id="windows">
    </div>
    <div id="app-gadget"></div>
    <script type="text/javascript">
        ZinOS.DOMReady(function () {
            /*var hostTools = new HostTools();

            var sandbox = new hostTools.Sandbox();

            var api = new ZinOSApp(window.top);
            var ui = api.UI;
            var storage = api.Storage;
            var utils = api.Utils;

            sandbox.imports.ZinOS = {};
            sandbox.imports.ZinOS.UI = ui
            sandbox.imports.ZinOS.Storage = storage;
            sandbox.imports.ZinOS.Utils = utils;

            ___.grantFunc(ui, 'ShowMessageBox');
            ___.grantFunc(storage, 'GetRootDirectories');
            ___.grantFunc(storage, 'GetPathContent');
            ___.grantFunc(utils, 'StringFormat');

            var appDocument = document.getElementById("app-gadget");
            sandbox.attach(appDocument);*/
            //sandbox.runCajoledModuleString("Html.Raw(Model.CajoledModule)");

            caja.initialize({ cajaServer: 'http://localhost:49545/Content/Desktop/Main/Script/caja' });
            caja.whenReady(function () {
                caja.load(
                    document.getElementById('app-gadget'),
                    {
                        rewrite: function (uri) {
                            return uri;
                        }
                    },
                    function (frame) {
                        var zinOS = new ZinOSApp(window.top);

                        var tamedZinOS =
                        {
                            Storage: {
                                GetRootDirectories : zinOS.Storage.GetRootDirectories,
                                GetPathContent: zinOS.Storage.GetPathContent
                            }
                        }

                        caja.markFunction(tamedZinOS.Storage.GetRootDirectories);
                        caja.markFunction(tamedZinOS.Storage.GetPathContent);

                        var api = {
                            ZinOS: caja.tame(tamedZinOS)
                        };

                        frame
                            .api(api)
                            .cajoled('http://localhost:49545/Home/', "@Html.Raw(Model.CajoledModule)", '')
                            .run(function (result) { });
                    });
            });
        });
    </script>
</body>
</html>